# DATABASE_URL=postgresql://postgres:postgres@localhost/electronics_marketplace
DATABASE_URL=postgresql://electro_recover_db_user:vcpK7zNEqKHxWSzxLK9l9RbV2p3un0oe@dpg-d7mirlsvikkc738021rg-a/electro_recover_db
SECRET_KEY=sahil999n@S
